@font-face {
  font-family: "Afacad Flux";
  src: url(../assets/fonts/AfacadFlux-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Afacad Flux";
  display: flex;
  flex-direction: row;
  height: 1000px;
}

.sidebar {
  float: left;
  width: 240px;
  height: 1024px;
  position: fixed;
  left: 0;
  background: #fff;
  gap: 8px;
  border-right: 0.7px solid #f1f5f9;
}

nav {
  padding: 10px;
}

.logo_box {
  padding: 10px;
}

.nav_items > ul > li {
  line-height: 40px;
  list-style-type: none;
  width: 100%;
  padding: 0px 12px;
  cursor: pointer;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.nav_items > ul > li:hover {
  background: #c7c2ee8f;
  border-radius: 10px;
}

li > img {
  width: 15px;
  height: 15px;
}

li > a {
  color: #000;
  padding-left: 10px;
}

.notification_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.notification_link:hover {
  background: #c7c2ee8f;
  border-radius: 10px;
}

.notification_link > li {
  list-style-type: none;
}

.notification_number {
  background-color: #f43f5e;
  color: #000;
  border-radius: 100%;
  padding: 3px 10px;
}

.notification_number > a {
  padding-left: 0px;
  color: #000;
}

a {
  text-decoration: none;
}

.switch_toggle {
  padding: 10px;
  cursor: pointer;
}

.switch_toggle > p > span {
  padding-left: 5px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.profile > .profile_image > img {
  width: 32px;
  height: 32px;
  border: 1px solid #e2e8f0;
  border-radius: 1000px;
}

.profile > .profile_name > p.user_name {
  width: 160px;
  height: 16px;
  line-height: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #334155;
}

.profile > .profile_name > p.user_email {
  width: 160px;
  height: 16px;
  line-height: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #334155;
}

/* Main Styling to make the  ui very friendly */
main {
  display: flex;
  flex-direction: column;
}

.main_header {
  font-size: 25px;
  line-height: 20px;
  height: 20px;
  left: 268px;
  font-weight: 400;
  color: #000;
  padding-top: 40px;
  padding-left: 268px;
}

.summary-grid {
  display: flex;
  flex-direction: row;
  width: 1250px;
  height: 88px;
  align-content: center;
  padding-top: 54px;
  padding-left: 268px;
  gap: 12px;
}

.summary-grid > div {
  width: 260px;
  height: 100px;
  padding: 16px;
  border: 1.5px solid #f2f2f7;
  border-radius: 2px;
  gap: 16px;
}

.summary-grid > div > .summary_label {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #64748b;
}

.summary-grid > div > .summary_value {
  height: 32px;
  font-weight: 600px;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
  padding-top: 7px;
}

.summary-grid > div > .summary_value > .level {
  width: 33px;
  height: 12px;
  font-size: 13px;
  font-weight: 600;
  gap: 10px;
  padding-left: 7px;
  color: #10b981;
}

.summary-grid > div > .summary_value > .level > img {
  margin-right: 3px;
}

.section_heading > p {
  height: 12px;
  padding-top: 100px;
  padding-left: 268px;
  font-weight: 500;
  font-size: 25px;
}

.event_registration > .registration_grid_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 268px;
  padding-top: 10px;
  gap: 25px;
}

.graph_box {
  width: 485px;
  height: 320px;
  border: 1px solid #f2f2f7;
  border-radius: 5px;
  padding: 40px;
}

.carousel_box {
  width: 485px;
  height: 320px;
  border: 1px solid #f2f2f7;
  border-radius: 5px;
}

@media screen and (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main1 {
    width: 100%;
  }

  .main2 {
    width: 100%;
  }
  .sidebar {
    left: -240px;
  }

  .main_header {
    padding-left: 20px;
  }

  .summary-grid {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .summary-grid > div {
    width: 80%;
  }

  .section_heading > p {
    padding-left: 20px;
  }

  .event_registration > .registration_grid_box {
    padding-left: 20px;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and [max-width:] {
}
